*
{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html,body
{
    margin: 0;
    padding: 0;
    background: #50555a;
}
/* header */
header
{
    width: 100%;
    background: hsl(0, 0%, 20%);
    height: 100px;
}
/* Logo Setting */
.logo
{
    position: absolute;
    left: 1%;
    top: 3.5%;
}
a{
    color: black;
    font-size: 32px;
}
/* Button For Dark mode */
.btn
{
    float: right;
    padding: 2.5% 3% 0% 0%;
}
@media screen and (max-width: 500px) {
    .btn
    {
        padding: 5% 5% 0% 0%;
    }
    header
    {
        width: 100%;
        height: 70px;

    }
    .logo
    {
        position: absolute;
        top: 3%;
        left: 5%;
    }
    a{
        font-size: 20px;
    }
}
button
{
    color: white;
    background: black;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
}
button:active
{
    background: white;
    color: black;
}
/* Clock Design */
.clock_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.clock
{
    background: #333;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 40px;
    position: relative;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.659);
}
.center
{
    background: wheat;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    z-index: 1;
}
.hour_container
{
    width: 5%;
    height: 100%;
    position: absolute;
    left: 48.5%;
    transform: rotate(270deg);
}
.hour
{
    background: wheat;
    width: 5px;
    height: 20%;
    top: 30%;
    left: 30%;
    border-radius: 5px;
    position: absolute;
    border-radius: 20px;
}
.minute_container
{
    display: flex;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
}
.minute
{
    width: 5px;
    height: 35%;
    background: wheat;
    top: 15%;
    position: absolute;
    border-radius: 5px;
    border-radius: 20px;
    border-radius: 20px;
}
.second_container
{
    width: 1%;
    height: 100%;
    position: absolute;
    left: 50%;    
}
.second
{
    background: red;
    width: 1px;
    height: 45%;
    top: 5%;
    position: absolute;
    z-index: 0;
}
/* number Image */
img
{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* Footer */
footer
{
    text-align: center;
    background: #333;    
    padding: 1%;
}
footer a
{
    margin: 1%;
}
footer p
{
    font-weight: 900;
}
.messageContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messageContainer > div{
    width: 600px;
    height: 400px;
    background-color: wheat;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    z-index: 100;
}